<footer class="py-5 d-flex justify-content-center">
    <div class="container mw-100 me-3 ms-3 me-lg-5 ms-lg-5 me-xl-5 ms-xl-5 pe-xl-5 ps-xl-5">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <div>
                    <p class="titles fw-bold mb-2">Viní Viseman</p>
                    <p class="text-gray">Transformando Disciplina em realização</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <div class="links">
                    <p class="titles fw-bold mb-3">Links</p>
                    <ul class="list-unstyled">
                        <li class="text-gray pointer-event"><a routerLink="">Home</a></li>
                        <li class="text-gray pointer-event"><a routerLink="/sobre">Sobre</a></li>
                        <li class="text-gray pointer-event"><a routerLink="/blog">Blog</a></li>
                        <li class="text-gray pointer-event"><a routerLink="/solucoes">Soluções</a></li>
                        <li class="text-gray pointer-event"><a routerLink="/comunidade">Comunidade</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
                <div class="contact">
                    <p class="titles fw-bold mb-3">Contato</p>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" data-lucide="mail" class="">
                                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
                            </svg>
                            <a class="socialMediaLinks" href="">contato&#64;viniviseman.com.br</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" data-lucide="twitch"
                                class="lucide lucide-twitch w-5 h-5 mr-3 text-[#3A86FF]">
                                <path d="M21 2H3v16h5v4l4-4h5l4-4V2zm-10 9V7m5 4V7"></path>
                            </svg>
                            <a class="socialMediaLinks" href="">/viniviseman</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" data-lucide="instagram"
                                class="lucide lucide-instagram w-5 h-5 mr-3 text-[#3A86FF]">
                                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                                <line x1="17.5" x2="17.51" y1="6.5" y2="6.5"></line>
                            </svg>
                            <a class="socialMediaLinks" href="">&#64;viniviseman</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" data-lucide="youtube"
                                class="lucide lucide-youtube w-5 h-5 mr-3 text-[#3A86FF]">
                                <path
                                    d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17">
                                </path>
                                <path d="m10 15 5-3-5-3z"></path>
                            </svg>
                            <a class="socialMediaLinks" href="">&#64;viniviseman</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" data-lucide="linkedin"
                                class="lucide lucide-linkedin w-5 h-5 mr-3 text-[#3A86FF]">
                                <path
                                    d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                                </path>
                                <rect width="4" height="12" x="2" y="9"></rect>
                                <circle cx="4" cy="4" r="2"></circle>
                            </svg>
                            <a class="socialMediaLinks" href="">/viniviseman</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="newsletter d-flex flex-column">
                    <p class="titles fw-bold mb-3">Newsletter</p>
                    <input type="email" class="newsletter-input text-white py-2 px-4 rounded bg-gray-800 mb-3"
                        placeholder="Seu email">
                    <input type="button" class="rounded-1 newsletter-submit text-white px-4 py-2" value="Inscrever">
                </div>
            </div>

            <hr class="mb-4 mt-5 hr-color">


            <p class="text-center text-gray">© 2025 Viní Viseman. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>