<div>
    <header
        class="d-flex flex-wrap align-items-center justify-content-between justify-content-md-between justify-content-sm-between py-3 px-5 mb-4 border-bottom fixed-top bg-white">
        <div class="col-md-3 mb-2 mb-md-0 text-center">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none visemanTitle">
                Viní Viseman
            </a>
        </div>

        <div class="col-md-6 text-end pe-0 pe-xl-5 d-none d-lg-block">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 d-none d-sm-none d-md-none d-lg-flex">
                <li class="px-3">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        class="text-black fw-medium">Home</a>
                </li>
                <li class="px-3">
                    <a routerLink="/sobre" routerLinkActive="active" class="text-black fw-medium">Sobre</a>
                </li>
                <li class="px-3">
                    <a routerLink="/blog" routerLinkActive="active" class="text-black fw-medium">Blog</a>
                </li>
                <li class="px-3">
                    <a routerLink="/solucoes" routerLinkActive="active" class="text-black fw-medium">Soluções</a>
                </li>
                <li class="px-3">
                    <a routerLink="/contato" routerLinkActive="active" class="text-black fw-medium">Contato</a>
                </li>
            </ul>
        </div>

        <div class="col-md-3 text-end pe-xl-5 d-none d-lg-block">
            <button class="bg-blue text-white py-2 px-4 rounded-3">Clube dos CEOs</button>
        </div>

        <div class="d-lg-none">
            <button (click)="toggleMenu()" class="navbar-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <ul [class.active]="isMenuOpen" id="nav-menu"
            class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 d-none d-sm-none d-md-none d-lg-flex">
            <li class="px-3"><a routerLink="" (click)="closeMenu()" class="text-black fw-medium">Home</a></li>
            <li class="px-3"><a routerLink="/sobre" (click)="closeMenu()" class="text-black fw-medium">Sobre</a></li>
            <li class="px-3"><a routerLink="/blog" (click)="closeMenu()" class="text-black fw-medium">Blog</a></li>
            <li class="px-3"><a routerLink="/solucoes" (click)="closeMenu()" class="text-black fw-medium">Soluções</a>
            </li>
            <li class="px-3"><a routerLink="/contato" (click)="closeMenu()" class="text-black fw-medium">Contato</a>
            </li>
            <li class="px-3"><a routerLink="/comunidade" (click)="closeMenu()" class="text-black fw-medium">Clube dos
                    CEOs</a>
            </li>
        </ul>
    </header>
</div>