<section class="d-flex flex-column align-items-center justify-content-center newsletter-section text-white">
    <h1 class="w-70 text-center fw-bold text-3xl">Receba conteúdo exclusivo</h1>
    <p class="text-center text-xl mb-4">Dicas práticas e insights quinzenais sobre disciplica e realização</p>
    <div class="d-flex w-40-md">
        <input type="email" placeholder="Seu melhor email" class="me-2 newsletter-email-input bg-white">
        <input type="button" value="Quero receber" class="newsletter-btn">
    </div>
</section>