.newsletter-section {
    --tw-bg-opacity: 1;
    background-color: rgb(58 134 255 / var(--tw-bg-opacity, 1));
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.newsletter-email-input {
    flex: 1 1 0%;
    border-radius: 0.5rem;
    border-width: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));
    outline: none;
    border: none;
}

.newsletter-btn {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    cursor: pointer;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(58 134 255 / var(--tw-text-opacity, 1));
}