<section class="mb-5 pb-5 bg-gradient-to-t bg-gradient-to-b from-blue-50 to-indigo-50">
    <div class="container-fluid container mx-auto px-6">
        <div class="w-70-lg mx-auto">
            <h1 class="first-title fw-bold text-center mb-4 text-black">
                Transformando Disciplina em Realização
            </h1>

            <p class="text-center text-xl mb-4 text-black">
                Ajudo pessoas a construírem uma vida mais disciplinada e significativa, unindo método prático com
                experiência real
                que integra todas as áreas da vida.
            </p>

            <div class="d-flex justify-content-center gap-4">
                <a href="#" class="text-white px-2rem py-3 rounded-3 fw-medium bg-blue">Comece sua jornada</a>
                <a href="#" class="knowMore-btn fw-medium px-2rem py-3 rounded-3">Saiba mais</a>
            </div>
        </div>
    </div>
</section>

<section class="mb-5">
    <div class="container-fluid container mx-auto px-6">
        <div class="w-70-lg mx-auto">
            <h1 class="text-3xl fw-bold text-center mb-4 text-black">
                Você já se sentiu assim?
            </h1>
            <div class="d-flex flex-column ms-2">
                <div class="d-flex align-items-center mb-4">
                    <svg class="plus-svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    <p class="ms-3">Sensação de vazio mesmo "fazendo tudo certo"</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <svg class="plus-svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    <p class="ms-3">Dificuldade em manter consistência nos objetivos pessoais</p>
                </div>
                <div class="d-flex align-items-center mb-4">
                    <svg class="plus-svg" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
                    </svg>
                    <p class="ms-3">Procrastinação e falta de foco persistentes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-2 bg-gray-50 pt-5">
    <div class="container-fluid container mx-auto px-6 d-md-flex flex-md-column align-items-md-center">
        <div class="d-flex justify-content-center w-100-md">
            <h1 class="text-3xl fw-bold text-center mb-4 text-black w-70 mb-5">
                Uma metodologia completa para sua transformação
            </h1>
        </div>
        <div class="d-flex flex-column flex-md-row gap-4 mb-5 align-items-center align-items-md-stretch w-75-lg">
            <div class="shadow-tw w-80 p-4 rounded-3">
                <h3 class="card-title fw-bold mb-3">VIVER</h3>
                <p class="mb-3">Vida Integrada com Valores, Estrutura e Resultados</p>
                <ul>
                    <li class="mb-2">Alinhe suas ações com seus valores</li>
                    <li class="mb-2">Estruture sua vida de forma consciente</li>
                    <li class="mb-2">Alcance resultados que importam</li>
                </ul>
            </div>

            <div class="shadow-tw w-80 p-4 rounded-3">
                <h3 class="card-title fw-bold mb-3">CRIAR</h3>
                <p class="mb-3">Um processo prático de transformação</p>
                <ul>
                    <li class="mb-2">- Consciência do que importa</li>
                    <li class="mb-2">- Responsabilização pelo seu caminho</li>
                    <li class="mb-2">- Intenção clara em cada escolha</li>
                    <li class="mb-2">- Ação alinhada com propósito</li>
                    <li class="mb-2">- Revisão constante</li>
                </ul>
            </div>

            <div class="shadow-tw w-80 p-4 rounded-3">
                <h3 class="card-title fw-bold mb-3">BASE</h3>
                <p class="mb-3">Ferramentas práticas para resultados reais</p>
                <ul>
                    <li class="mb-2">Sistema testado e aprovado</li>
                    <li class="mb-2">Aplicação imediata</li>
                    <li class="mb-2">Resultados comprováveis</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="mb-5 pt-5">
    <div class="container-fluid container mx-auto px-6 d-md-flex flex-md-column align-items-md-center">
        <div class="d-flex justify-content-center w-100-md">
            <h1 class="text-3xl fw-bold text-center mb-4 text-black mb-5">
                Escolha seu caminho de transformação
            </h1>
        </div>
        <div class="d-flex flex-column align-items-center services-card-container-md">
            <div class="shadow-tw w-80 p-4 rounded-3 services-card mb-3">
                <h3 class="services-card-title fw-bold mb-3">Clube dos CEOs</h3>
                <p class="mb-3 fw-bold text-3xl">R$19,99<span class="fw-normal text-base">/mês</span></p>
                <ul class="mb-4">
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Comunidade exclusiva
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Suporte próximo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Conteúdo dedicado
                    </li>
                </ul>
                <a href="#" class="d-block text-center bg-blue text-white services-card-btn mb-3">Entrar pra lista de
                    espera</a>
            </div>

            <div class="shadow-tw w-80 p-4 mb-3 rounded-3 services-card">
                <h3 class="services-card-title fw-bold mb-3">Clube do Livro</h3>
                <p class="mb-3 fw-bold text-3xl">R$39,99<span class="fw-normal text-base">/mês</span></p>
                <ul class="mb-4">
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>3 encontros mensais ao vivo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Material de apoio
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Resumos e insights
                    </li>
                </ul>
                <a href="#" class="d-block text-center bg-blue text-white services-card-btn mb-3">Próximo livro</a>
            </div>

            <div class="shadow-tw w-80 p-4 mb-3 rounded-3 services-card">
                <h3 class="services-card-title fw-bold mb-3">Desafios Temáticos</h3>
                <p class="mb-3 fw-bold text-3xl">R$99,99<span class="fw-normal text-base">/mês</span></p>
                <ul class="mb-4">
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>5 dias de imersão
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Lives diárias
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Template específico Notion
                    </li>
                </ul>
                <a href="#" class="d-block text-center bg-blue text-white services-card-btn mb-3">Próximo desafio</a>
            </div>

            <div class="shadow-tw w-80 p-4 rounded-3 services-card mb-3">
                <h3 class="services-card-title fw-bold mb-3">Masterclasses</h3>
                <p class="mb-3 fw-bold text-3xl">R$149,99<span class="fw-normal text-base">/mês</span></p>
                <ul class="mb-4">
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>3 horas de conteúdo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Material completo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Exercícios práticos
                    </li>
                </ul>
                <a href="#" class="d-block text-center bg-blue text-white services-card-btn mb-3">Próxima
                    masterclass</a>
            </div>

            <div class="shadow-tw w-80 p-4 rounded-3 services-card mb-3">
                <h3 class="services-card-title fw-bold mb-3">Cursos ao vivo</h3>
                <p class="mb-3 fw-bold text-3xl">R$199,99<span class="fw-normal text-base">/mês</span></p>
                <ul class="mb-4">
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>5 dias de aulas ao vivo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Material completo
                    </li>
                    <li class="mb-2 d-flex align-items-center">
                        <i class="bi bi-check2 me-1 text-green-500 check"></i>Grupo exclusivo
                    </li>
                </ul>
                <a href="#" class="d-block text-center bg-blue text-white services-card-btn mb-3">Próxima turma</a>
            </div>
        </div>
    </div>
</section>

<app-newsletter></app-newsletter>